      <!--  footer --> 

      <footr>
        <div class="footer">
           <div class="container">
              <div class="row">
                 <div class="col-md-6 offset-md-3">
                    <ul class="sociel">
                        <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                 </div>
           </div>
           <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="contact">
                    <h3>conatct us</h3>
                    <span>205 ISE, DSCE<br>
                      Bangalore, India<br>
                       +9191919191</span>
                 </div>
              </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="contact">
                    <h3>ADDITIONAL LINKS</h3>
                    <ul class="lik">
                        <li> <a href="/about">About us</a></li>
                        <li> <a href="/about">Terms and conditions</a></li>
                        <li> <a href="/about">Privacy policy</a></li>
                        <li> <a href="/about">News</a></li>
                         <li> <a href="/contact">Contact us</a></li>
                    </ul>
                 </div>
              </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="contact">
                    <h3>service</h3>
                     <ul class="lik">
                        <li> <a href="/about"> 24*7 Services</a></li>
                        <li> <a href="/about">Cheapest Offer</a></li>
                        <li> <a href="/about">Restaurant Facilities</a></li>
                        <li> <a href="/about">Hygiene</a></li>
                 </div>
              </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="contact">
                    <h3>About Ease Rooms</h3>
                    <span>The go to option for booking rooms! </span>
                 </div>
              </div>
           </div>
           </div>
           <div class="copyright">
              <p>Copyright 2019 All Right Reserved By 205 ISE</p>
           </div>
     </footr>
  <!-- end footer -->
  </body>
</html>