<%- include("partials/header"); -%>
       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Cities</h2>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- CITIES -->
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <a href="/mumbai/hotels">
                     <div class="product-box">
                     <i><img src="icon/p1.png"/></i>
                     <h1>MUMBAI</h1>
                     </div>
                  </a>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
               <a href="/bengaluru/hotels">
                  <div class="product-box">
                     <i><img src="icon/p2.png"/></i>
                     <h1>BENGALURU</h1>
                  </div>
               </a>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
               <a href="/chennai/hotels">
                  <div class="product-box">
                     <i><img src="icon/p3.png"/></i>
                     <h1>CHENNAI</h1>
                  </div>
               </a>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
               <a href="/delhi/hotels">
                  <div class="product-box">
                     <i><img src="icon/p4.png"/></i>
                     <h1>DELHI</h1>
                  </div>
               </a>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
               <a href="/kolkata/hotels">
                  <div class="product-box">
                     <i><img src="icon/p5.png"/></i>
                     <h1>KOLKATA</h1>
                  </div>
               </a>
               </div>
               </div>
            </div>
         </div>
      <!-- END CITIES -->
<%- include("partials/footer"); -%>